# Functions:
    Sequence of operation

In [1]:
num = 23

if num%2==0:
    print("Num is even")
    
else:
    print("Num is Odd")

Num is Odd

In [2]:
def evn_odd(num):
    if num%2==0:
        print("Num is even")
    
    else:
        print("Num is Odd")

num = int(input())
evn_odd(num)

22
Num is even

In [3]:
evn_odd(22)

Num is even

In [4]:
# Print and return function

def hello_world():
    print("Hello Welcome")

In [5]:
val = hello_world()

Hello Welcome

In [6]:
val

In [7]:
def hello_world():
    return("Hi Kamran")

In [8]:
k = hello_world()

In [9]:
k

'Hi Kamran'

In [10]:
def add_num(num1,num2):
    return(num1+num2)

In [11]:
Add = add_num(22,24)

In [12]:
Add

46

In [13]:
def sub(num1,num2):
    print(num1-num2)

In [14]:
sub = sub(28,24)

4

In [15]:
# Positional Argument
# Keyword Argument
def Hello(Name,Age =29):
    print("My name is {} and Age is {}".format(Name,Age))

In [16]:
Hello('Kamran')

My name is Kamran and Age is 29

In [17]:
def Hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [18]:
Hello('Kamran','Naazo', age = 29, DOB=1991 )

('Kamran', 'Naazo')
{'age': 29, 'DOB': 1991}

In [19]:
lst=['Kamran','Naazo']
dict_arg = {'age':29, 'DOB':1991}

In [20]:
Hello(lst,dict_arg)

(['Kamran', 'Naazo'], {'age': 29, 'DOB': 1991})
{}

In [21]:
Hello(*lst,**dict_arg)

('Kamran', 'Naazo')
{'age': 29, 'DOB': 1991}

In [22]:
lst = [1,2,3,4,5,6,7]

def Evn_odd(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:   
        if i%2==0:
            even_sum = even_sum+i
            
        else:
            odd_sum = odd_sum+i
    return even_sum,odd_sum
    
Evn_odd(lst)

(12, 16)